@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}
nav{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color:#fff;
    z-index: 999;
  /* box-shadow: 1px 1px 2px #000; */
}
.fa-bars{
    padding: 20px;
    font-size: x-large;
}
img{
   margin-left: -10px;
   margin-right: 200px;
}
.search{
    background-color: #fff;
    width: 650px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    margin-top: 10px;
    border: 1px solid rgb(173, 172, 172);
}
input{
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}
.search-btn{
    background-color: #e7e1e1;
    border: none;
    height: 45px;
    width: 60px;
    margin-right: -30px;
    border-radius: 0 20px 20px 0;
    border: 1px solid rgb(173, 172, 172);
}
.search-btn i{
    font-size: larger;
}
.mic{
    border-radius: 50%;
    width: 50px;
    height: 48px;
    border: none;
    font-size: larger;
    margin-top: 8px;
    margin-left: 8px;
    background-color: #fff;
}
.mic:hover{
    background-color: #e7e1e1;
}
.video{
    border-radius: 50%;
    width: 50px;
    height: 48px;
    border: none;
    font-size: larger;
    margin-top: 8px;
    margin-left: 5px;
    background-color: #fff;
    margin-left: 120px;
}
.video:hover{
    background-color: #e7e1e1;
}
.bell{
    border-radius: 50%;
    width: 50px;
    height: 48px;
    border: none;
    font-size: larger;
    margin-top: 8px;
    margin-left: 5px;
    background-color: #fff;
    margin-right: 10px;
}
.bell:hover{
    background-color: #e7e1e1;
}
.picture img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: right;
    position: absolute;
    margin-top: 10px;
    margin-right: 70px;
    margin-left: 2px;
}
#Video iframe{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#Video h3{
    /*margin-top: 10px;*/
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
#Video .YT{
    display: flex;
}
#Video .YT img{
    border-radius: 50%;
    width: 50px;
    height: 48px;
    margin-left: 40px;
    margin-right: 10px;
}
#Video .YT .heading{
    display: inline; /*To Show Headings in Columns */

}
#Video .YT .heading h4{
margin-top: 6px;
margin-left: 2px;
margin-right: 10px;
}
#Video .YT .heading h6{
    margin-top: 4px;
    margin-left: 2px;
    color: grey; 
}
#Video .YT h5{
    background-color: black;
    color: #fff;
    padding: 0 16px;
    border-radius: 18px; 
    line-height: 36px;
    height: 36px;
    margin-top: 8px;
    margin-left: 14px;
    margin-right: 10px;
}
#Video .YT button{
    background-color: rgb(233, 227, 227);
    border: none;
    font-size: larger;
    color: #000;

}
#Video .YT .like .fa-thumbs-down{
    transform: scaleX(-1);
    margin-right: 5px;
}
#Video .YT .like button span{
    margin-left: 8px;
    font-size: 1rem;
}
#Video .YT .like .fa-grip-lines-vertical{
  color: rgb(134, 134, 134);
  margin-left: 10px;
  margin-right: 10px;
}
#Video .YT .like{
    background-color: rgb(233, 227, 227);
    color: #fff;
    padding: 0 16px;
    border-radius: 18px; 
    line-height: 36px;
    height: 36px;
    margin-top: 8px;
    margin-left: 170px;
    margin-right: 0px;
    align-content: space-between;
}
#Video .YT .share{
    background-color: rgb(233, 227, 227);
    color: #fff;
    padding: 0 16px;
    border-radius: 18px; 
    line-height: 36px;
    height: 36px;
    margin-top: 8px;
    margin-left: 14px;
    margin-right: 10px;
    align-content: space-between;
}
#Video .YT .share button span{
    margin-left: 8px;
    font-size: 1rem;
}
#Video .YT .clip{
    background-color: rgb(233, 227, 227);
    color: #fff;
    padding: 0 16px;
    border-radius: 18px; 
    line-height: 36px;
    height: 36px;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 10px;
    align-content: space-between;
}
#Video .YT .clip button span{
    margin-left: 8px;
    font-size: 1rem;
}
#Video .YT .dots{
    background-color: rgb(233, 227, 227);
    color: #fff;
    padding: 0 16px;
    border-radius: 50%; 
    height: 36px;
    width: 36px;
    line-height: 36px;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 10px;
} 
#Video .YT .dots i{
    margin-left: -6px;
    background-color: rgb(233, 227, 227);
}
#VideoDescription{
    width: 903px;
    height: 52vh;
    border-radius: 10px;
    background-color: #e7e1e1;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#VideoDescription .Views{
    display: flex;
    padding: 15px;
}
#VideoDescription .Views .one{
    margin-right: 10px;
    font-weight: 600;
    font-size: 1rem;
}
#VideoDescription .Views .two{
    margin-right: 10px;
    font-weight: 600;
    font-size: 1rem;
}
#VideoDescription .Views .three a{
   color: rgb(18, 134, 211);
   font-weight: 600;
   text-decoration: none;
   font-size: 1rem;
}
#VideoDescription .description p{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}
#VideoDescription .description .hashtags a{
    margin-left: 2px;
    color: rgb(18, 134, 211);
    text-decoration: none;
}
#VideoComments{
    margin-left: 40px;
    margin-bottom: 20px;
}
#VideoComments .commentario{
    margin-top: 20px;
    margin-bottom: 20px;
}
#VideoComments .commentario .x{
    font-weight: 500;
    font-size: 1rem;
} 
#VideoComments .commentario .y{
    margin-left: 20px;
    border: none;
    font-weight: 600;
    background-color: #fff;
    font-size: 14px;
}
#VideoComments .commentario .y .fa-sort{
    margin-right: 5px;
}
#VideoComments .write{
    display: flex;
}
#VideoComments .write img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    margin-right: 10px;
    margin-left: 2px;
    margin-bottom: 10px;
}
#VideoComments .write .text{
    margin-top: 2px;
    margin-left: 60px;
    display: visible;
    outline: 0px solid transparent;
    text-decoration: none;
}
#VideoComments .write hr{
    width: 840px;
    margin-top: 25px;
    color: #000;
    left: 95px;
    position: absolute;
}
#VideoComments .submit .smile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 60px;
    margin-top: 10px;
    font-size: large;
    border: 0px solid transparent;
}
#VideoComments .submit .smile:hover{
    background-color: rgb(233, 227, 227);
}
#VideoComments .submit .cancel{
    color: #000;
    padding: 0 15px;
    border-radius: 18px; 
    line-height: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 630px;
    margin-right: 5px;
    justify-content:center ;
    text-align: center;
    font-weight: 600;
    border: 0px solid transparent;
}
#VideoComments .submit .cancel:hover{
   background-color: rgb(233, 227, 227);
}
#VideoComments .submit .comment{
    color: grey;
    padding: 0 15px;
    border-radius: 18px; 
    line-height: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    justify-content:center ;
    text-align: center;
    font-weight: 600;
    border: 0px solid transparent;
    background-color: rgb(233, 227, 227);
}

#VideoComments .comments .user{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
#VideoComments .comments .user img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    margin-right: 10px;
    margin-left: 2px;
    margin-bottom: 10px;
}
#VideoComments .comments .user h5{
    margin-left: 60px;
    margin-top: 2px;
}
#VideoComments .comments .user h6{
   color: grey;
   margin-left: -50px;
   margin-top:4px;
}
#VideoComments .comments .peace{
    margin-left: 60px;
    margin-top: -8px;
    margin-bottom: 10px;
    font-size: 14px;
}
#VideoComments .comments .response .up{
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: medium;
    border: 0px solid transparent;
    margin-bottom: 10px;
}
#VideoComments .comments .response .up  span{
    color: grey;
    font-size: small;
}
#VideoComments .comments .response .down{
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: medium;
    border: 0px solid transparent;
    transform: scaleX(-1);
    margin-left: 6px;
    margin-bottom: 10px;

}
#VideoComments .comments .response .reply{
    margin-bottom: 10px;
    background-color: #fff;
    border: 0px solid transparent;
    margin-left: 16px;
    padding: 0 15px;
    border-radius: 18px; 
    line-height: 30px;
    height: 30px;
    color: #000;
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 10px;
}
#VideoComments .comments .response .reply:hover{
    background-color: rgb(233, 227, 227);
}
